* {
  box-sizing:border-box;
}

body {
  margin:0;
  font-family:Arial;
  font-size:12px;
  background-color:#fff;
}

ul {
  list-style:none;
  margin:0;
  padding:0;
}

a {
  text-decoration:none;
  &:focus,
  &:hover,
  &:active {
    outline:none;
    text-decoration: none;
  }
}

.hidden {
  display:none!important;
}
